@font-face {
  font-family: "Poppins";
  src: local("Poppins") 
  url(./assets/fonts/Poppins-Light.eot?) format("eot"),
  url(./assets/fonts/Poppins-Light.woff2) format("woff2"),
  url(./assets/fonts/Poppins-Light.ttf) format("truetype"); 

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:  local("Poppins")
  url(./assets/fonts/Poppins-Regular.eot) format("eot"),
  url(./assets/fonts/Poppins-Regular.woff2) format("woff2"),
  url(./assets/fonts/Poppins-Regular.ttf) format("truetype");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:  local("Poppins")
  url(./assets/fonts/Poppins-SemiBold.eot) format("eot"), 
  url(./assets/fonts/Poppins-SemiBold.woff2) format("woff2"), 
  url(./assets/fonts/Poppins-SemiBold.ttf) format("truetype");

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alex Brush";
  src: local("Alex Brush") 
  url(./assets/fonts/AlexBrush-Regular.eot) format("eot"),
  url(./assets/fonts/AlexBrush-Regular.woff2) format("woff2"),
  url(./assets/fonts/AlexBrush-Regular.ttf) format("truetype");

  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "cursive";
  src: local("cursive") 
  url(./assets/fonts/Cedarville-Cursive.eot) format("eot"),
  url(./assets/fonts/Cedarville-Cursive.woff2) format("woff2"),
  url(./assets/fonts/CedarvilleCursive-Regular.ttf) format("truetype");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code") 
  url(./assets/fonts/FiraCode-Medium.eot) format("eot"),
  url(./assets/fonts/FiraCode-Medium.woff2) format("woff2"),
  url(./assets/fonts/FiraCode-Medium.ttf) format("truetype");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code") 
  url(./assets/fonts/FiraCode-Regular.eot) format("eot"),
  url(./assets/fonts/FiraCode-Regular.woff2) format("woff2"),
  url(./assets/fonts/FiraCode-Regular.ttf) format("truetype");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}